# LLM Configuration
#
# 1st - local ollama
# 2nd - Red Hat MaaS
# 3rd - local podman AI Lab
#

# LLM_URL must be a valid IP since the client app is running in a container.
LLM_URL=http://XXX.XXX.X.XX:11434/v1
LLM_URL=https://model-as-a-service-host/v1
LLM_URL=http://XXX.XXX.X.XX:61113/v1

# Your API key for authentication
LLM_API_KEY=api_key
LLM_API_KEY=api_key
LLM_API_KEY=None

# The model to use
LLM_MODEL=qwen3.5:2b
LLM_MODEL=deepseek-r1-distill-qwen-14b
LLM_MODEL=granite-3.3-8b-instruct-Q4_K_M.gguf

